@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');
.container{
  background-color: #712020;
  background-image: linear-gradient(to top,#712020, #FF9C60);
  padding: 2%;
  max-width: 500px;
  min-height: 100vh;
}
.hd{

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 67px;
/* background-color: blue; */
color: #712020;
text-align: center;
display: flex;
flex-direction: row;
}

.white{
    color: white;
}
.btn{
    background-color: #712020;
    border: none;
    border-radius: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 78px;
    height: 37px;    

}
.head{
display: flex;
flex-direction: row;
align-items: center;
/* background-color: yellow; */
justify-content: space-evenly;
}

.m1{
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    /* justify-content: space-between; */
}
.title{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
line-height: 36px;
text-align: center;
}
.title1{
font-size: 24px;
color:white;

}
.title2{
font-size: 28px;
color:#712020;

}
.center{
    text-align: center;
}
.brown{
    color: #712020;
}
.mid{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
text-align:center;
color: white;
}
.t1{
  padding-top: 20px;
  padding-bottom: 20px;
   
}
.points{
    padding-top: 40px;
    padding-bottom: 40px;
  
}
.p{
  /* background-color: #FF9C60; */
  display: inline-block;
  vertical-align: middle;
  display: flex;
  flex-direction: row;

}
.i{
    /* background-color: bisque; */
    
}
.t{
    /* background-color: yellowgreen; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    position: relative;
    left: 20px;
}
.fm{
    
    /* background-color: plum; */
}
.f1{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
position: relative;
left: 5px;
}
.f3{
    display: flex;
    flex-direction: column;
    
}
.ph{
border-radius: 20px;
border: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
padding: 3px 0 3px 12px;
width: 100%;

}
.i1{
    padding-top: 20px;
    padding-bottom: 15px;
    /* background-color: aquamarine; */
}
.i2{

}
.go{
padding: 4px 25px 4px 25px; 
border-radius: 20px;
border: none;
background-color: #FF9C60;
color: #712020;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
position: relative;
left: 5px;
}
.foot{
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 15px;
color: #FFFFFF;
padding-top: 30px;
padding-bottom: 30px;
/* background-color: #FF9C60; */
}
.tq{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
position: relative;
top:30px;
}