@import url("http://fonts.cdnfonts.com/css/sf-pro-display");

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (min-width: 850px) {
  .Container {
    font-size: 25px;
    background-color: #151a2d;
    min-height: 100vh;
    min-width: 100vw;
  }

  .font2 {
    text-align: left;
    z-index: 1;
  }

  .formCol {
    margin-right: 10vh;
    border: none;
    border-radius: 23px;
    padding: 3vh;
    background-color: #FFFFFF;
  }

  .font3 {
    font-family: "helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1.3em;

    text-align: left;

    color: white;
  }

  .forForm {
    border-radius: 23px;
    padding: 3vh 0vh 3vh 0vh;
  }

  .forInp {
    width: 100%;
    text-align: center;
    padding-bottom: 2vh;
    font-size: 1em !important;
  }

  .input {
    background: #ffffff;
    border-radius: 2.183vw;
    border: 0.132vw solid rgba(67, 44, 206, 0.29);
    width: 100%;
    font-size: 70%;
    padding: 1vh;
    padding-left: 5%;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 1.124vw;
    line-height: 1.323vw;

    color: #000000;

    opacity: 0.8;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  }

  .forDivflex {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 1em;
  }

  .forSub {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .submit {
    border-radius: 2.183vw;
    width: 40%;
    border: none;
    padding: 1vh;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 1.257vw;
    line-height: 1.521vw;
    /* identical to box height */

    color: #ffffff;
    background-color: #432cce;
  }

  .forSpImage {
    position: absolute;
    top: -30%;
    right: -10%;
  }

  .radiocontent {
    text-align: left;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 1.786vw;
    line-height: 2.116vw;

    color: #202020;

    opacity: 0.7;
  }

  .button {
    background: #e6e6e6;
    border: none;
    border-radius: 2.183vw;
    color: black;
    width: 90%;
    padding: 0.529vw;
    word-wrap: break-word;

    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 550;
    font-size: 1.19vw;
    line-height: 1.389vw;

    color: #000000;
  }
}

@media screen and (max-width: 850px) {
  .Container {
    font-size: 18px;
    background-color: #151a2d;
    min-height: 100vh;
    min-width: 100vw;
  }

  .font3 {
    font-family: "helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1.3em;

    text-align: left;

    color: white;
  }

  .formCol {
    padding: 3vh;
  }

  .formdiv {
    border: 3px solid rgba(0, 0, 0, 0.5);
    padding: 3vh;
    border-radius: 23px;
    background-color: white;
  }

  .button {
    background: #e6e6e6;
    border: none;
    border-radius: 33px;
    color: black;
    width: 90%;
    word-wrap: break-word;

    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 550;
    font-size: 3.990vw;
    line-height: 4.359vw;

    justify-content: center;

    color: #000000;
  }

  .forForm {
    border-radius: 23px;
    padding: 3vh 0vh 3vh 0vh;
    font-size: 2em !important;
  }

  .radiocontent {
    text-align: left;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 550;
    font-size: 7.179vw;
    line-height: 7.949vw;

    color: #202020;

    opacity: 0.7;
  }

  .forInp {
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-bottom: 2vh;
    // font-size: 2em !important;
  }

  .input {
    background: #ffffff;
    border-radius: 5.897vw;
    border: 2px solid rgba(67, 44, 206, 0.29);
    width: 100%;
    padding: 1vh;
    padding-left: 5%;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 4.359vw;
    line-height: 3.128vw;

    color: #000000;

    opacity: 0.8;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  }

  .forSub {
    width: 100%;
    text-align: center;
    margin-top: 5.128vw;
  }

  .submit {
    border-radius: 5.897vw;
    width: 40%;
    border: none;
    font-family: "SF Pro Display";
    padding: 3%;
    font-style: normal;
    font-weight: 700;
    font-size: 5.103vw;
    line-height: 4.872vw;
    // padding-top: 1vh;
    color: white;
    background-color: #432cce;
  }

  .forDivflex {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }

  .forSpImage {
    text-align: center;
    height: 100%;
    width: 100%;
  }
}

.font1 {
  text-align: center;
  font-family: "helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.1em;

  color: #619698;
}

.font2 {
  //text-align: center;
  font-family: "helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1.3em;

  color: white;
}

.font4 {
  text-align: left;
  font-family: "helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1.3em;
  padding: 0.5em;

  color: #000000;
}

//For from component

.formouter {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.formcomp {
  background-color: black;
  border-radius: 23px;
}

.workS {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button:hover,
.button:active,
.button:focus,
.button:checked {
  background: rgba(67, 44, 206, 0.85) !important;
}

.basicPadd {
  background-color: #000000;
  border-radius: 23px;
}

.giveBorder {
  margin-top: 1.5em;
  border-radius: 23px;
  background-color: #333743;
}

.about {
  border: none;
  border-radius: 23px;
  padding: 1em;

  background-color: #d9d9d9;
}

.aboutHead {
  text-align: center;

  font-family: "helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 30px;
  /* identical to box height */

  color: #000000;
}

.aboutDesc {
  padding-top: 1em;
  font-family: "helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.3em;
  // letter-spacing: -0.01em;

  color: #000000;
}

.forFooter {
  background-color: #d9d9d9;

  padding-top: 1em;
}

.footerText {
  text-align: center;
  margin: 0;

  font-family: "helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 1em;

  color: #000000;
}

.footerText2 {
  text-align: center;

  margin-top: 0;
  font-family: "helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8em;
  color: black;
  opacity: 0.52;
  padding-bottom: 0.8em;
}

.footerText3 {
  text-align: center;

  font-family: "helvetica";
  font-style: normal;
  font-size: 0.5em;

  margin-bottom: 0;
}

.changeB {
  font-size: 1em;
  font-weight: 700;
  font-style: normal;

  border-radius: 33px;
  border: none;
  padding-left: 0.8em;
  padding-right: 0.8em;

  background-color: #333743;
  color: white;
}

.changeB:hover {
  opacity: 0.8;
}
.about1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pforsomeText {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;

  color: #dbdbdb;
}

.pforsomeText2 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  width: fit-content;
  padding-left: 0.6em;
  left: -0.6em;
  padding-right: 0.6em;
  margin-top: 1.3em;

  color: #dbdbdb;
  background-color: #619698;
}

.fontRandom {
  font-family: "helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 54px;
  width: fit-content;
  /* identical to box height */

  background-color: #619698;
  color: rgba(0, 0, 0, 0.65);
}

.fontRandom2 {
  font-family: "helvetica";
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.4em;

  color: #bababa;
}

.forImage2 {
  text-align: left;
  justify-content: left;
  background-color: #d9d9d9;
}

.formContent1 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 83px;
  color: rgba(32, 32, 32, 0.76);
}

.formContent2 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 83px;
  color: rgba(32, 32, 32, 0.76);
  background-color: rgba(67, 44, 206, 0.15);
  padding: 1vh;
}
