/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (min-width: 480px) {
  .Container {
    font-size: 25px;
  }

  .font2 {
    text-align: center;
  }

  .forForm {
      margin-top: 2em;
    border-radius: 23px;
    background-color: #000000;
    display: flex;
    flex-direction: row;
  }

  .forInp {
    padding-left: 2em;
    width: 35%;
    height: 40%;
    justify-content: center;
  }

  .input {
    background: #f5f5f5;
    border-radius: 23px;
    width: 100%;
    height: 100%;
    font-size: 70%;
  }


  
  .forSub {
    padding-left: 2em;
    width: 35%;
    height: 40%;
    justify-content: center;
}

  .submit {
    background: #f5f5f5;
    border-radius: 23px;
    width: 100%;
    height: 100%; 
    font-size: 70%;
  }
}

@media screen and (max-width: 480px) {
  .Container {
    font-size: 20px;
  }

  .forForm {
      margin-top: 2em;
    border-radius: 23px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
  }

  .forInp {
    padding: 1em;
  }

  .forSub {
    padding-top: 1.5em;
    text-align: center;
    padding-bottom: 1em;
    font-size: 1.2em;
  }

  .input {
    background: #f5f5f5;
    border-radius: 23px;
    width: 100%;
  }

  .submit {
    border-radius: 23px;
    padding: 0.3em;
    border: none;
    background-color: blue;
    color: white;
  }
}

.font1 {
  text-align: center;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;

  color: blue;
}

.font2 {
  //text-align: center;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1.3em;

  color: #000000;
}

.font3 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.3em;

  color: #000000;
}

.font4{
    text-align: left;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 1.3em;
    line-height: 1.3em;
    padding: 0.5em;
  
    color: #000000;
}


//For from component

.formouter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formcomp {
  background-color: black;
  border-radius: 23px;
}

.radiocontent {
  text-align: left;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;

  color: #202020;

  opacity: 0.7;
}

.button {
  background: #e6e6e6;
  border: none;
  border-radius: 23px;
  color: black;

  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8em;

  color: #000000;
}

.button:hover,
.button:active,
.button:focus {
  background-color: blue;
}

.basicPadd{
    background-color: #000000;
    border-radius: 23px;
}
