@font-face {
  font-family: insidrFont;
  src: url("../font/SFPRODISPLAYMEDIUM.OTF") format("truetype");
}

.App {
  font-family: insidrFont;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchInner {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.forInput::placeholder {
  font-weight: 500;
}

.dropdown {
  background-color: white;
  z-index: 10;
  overflow-y: scroll;
  position: absolute;
  max-height: 100px;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.dropdown:empty {
  border: 10px;
}


.idrop {
  position: relative;
  width: 80%;
  padding: 0px 0px 0px 10px;
}

@media screen and (max-width: 480px) {
  .searchcontainer {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .forInput {
    padding: 20px 0px 20px 20px;
    width: 100%;
    border-radius: 5.897vw;
    border: 0.132vw solid rgba(67, 44, 206, 0.29);
    padding: 1vh;
    padding-left: 5%;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 4.359vw;
    line-height: 4.323vw;

    color: #000000;

    opacity: 0.8;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  }

  
.dropdownRow {
  cursor: pointer;
  text-align: start;
  font-size: 4vw;
  line-height: 5vw;
  margin: 2px 0;
}
}

@media screen and (min-width: 480px) {
  .searchcontainer {
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  .forInput {
    padding: 20px 0px 20px 20px;
    width: 100%;
    border-radius: 2.183vw;
    border: 0.132vw solid rgba(67, 44, 206, 0.29);
    padding: 1vh;
    padding-left: 5%;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 1.124vw;
    line-height: 1.323vw;

    color: #000000;

    opacity: 0.8;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  }

  
.dropdownRow {
  cursor: pointer;
  text-align: start;
  font-size: 1vw;
  line-height: 1.5vw;
  margin: 2px 0;
}
}

@media screen and (min-width: 950px) {
  .idrop {
    position: relative;
    width: 85%;
    padding: 0px 0px 0px 40px;
  }
}

.search {
  font-family: insidrFont;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 0.5vh;
  color: #383838;
}
